.eventCard {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #B5FAD0;
}

.main{
    margin-top: 100px;
}

.eventName {
    margin-left: 10px;
    margin-right: 60px;
    text-align: left;
}

.eventCard a {
    color: black;
    text-decoration: none;
}

.AuthButton {
    margin: 5px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #8EE4AF;
    color: black;
}

.authForm {
    border: 1px solid black;
    border-radius: 20px;
}

.head {
    position: fixed;
    width: 98.2%;
    top: 0;
    z-index: 100;
    overflow: hidden;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
    padding: 4px 12px;
    background-color: #43C0A7;
}


.search {
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-grow: 1;
    align-items: center;
}

.searchField {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: #8EE4AF;
    padding-left: 5px;
    margin-right: 10px;
}

.text {
    margin-bottom: 10px;
    margin-right: 5px;
}

/* .eventSelector {
    position: relative;
    display: inline-block;
    padding-right: 25px;
}

.selectButton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} */

.likeButton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* .dropDawn {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropDawnOpen {
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
} */

.errorMessage {
    color: red;
}